.hero {
	@apply --container;

	margin-top: var(--space-l);
	margin-bottom: var(--space-l);

	& * + * {
		margin-top: var(--space-s);
	}
}

.hero__quote {
	font-size: ms(2) em;
	font-weight: bold;
	line-height: var(--line-height-heading);
	text-align: left;

	@media (--m-up) {
		font-size: ms(3) em;
	}
}
