.main-nav {
	max-width: var(--max-width-container);
	margin: 0 auto;

	& ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 0;
		padding: 0;
	}
}

.main-nav__i {
	display: block;
	margin-top: var(--space-s);
}

.main-nav__i--logo {
	display: block;
	flex-shrink: 0;
	width: 100%;
	margin-top: 0;
}

.main-nav__link {
	padding: var(--space-xs);

	@media (--m-up) {
		padding-right: var(--space-s);
		padding-left: var(--space-s);
	}
}

.main-nav__link--logo {
	display: block;
	padding: 0;
}

