.info-grid {
	display: flex;
	flex-wrap: wrap;
	padding: 0;

	& li {
		width: calc(100% / 2);
		margin-top: 0;
		margin-bottom: var(--space-s);
		list-style-type: none;

		@media (--m-up) {
			width: calc(100% / 3);
		}

		& * + * {
			margin-top: 0;
		}
	}

	& h3 {
		color: var(--color-text-light);
		font-weight: normal;
		font-variant-caps: small-caps;

		@media (--m-up) {
			font-size: ms(-1) em;
			line-height: var(--line-height-heading);
		}
	}
}
