*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	font-family: var(--font-family-fallback);
	font-size: calc((var(--font-size) / 16) * 100%);
	line-height: var(--line-height);

	& * {
		margin: 0;
	}

	& * + * {
		margin-top: var(--space-m);
	}
}

body {
	margin: 0;
}

.base-fonts-loaded,
.base-fonts-loading-expired {
	font-family: var(--font-family);
}
