.hero-quote {
  @include grid-container;
  @include margin-top-1;
}

.hero-quote__inner {
  @include grid-column(7);
  font-weight: $font-weight-bold;
  color: color('text');

  @include grid-media($neat-grid-medium) {
    @include grid-column(9);
    @include grid-push(2);
  }

  @include grid-media($neat-grid-large) {
    @include grid-column(11);
    @include grid-push(2);
  }
}

.hero-quote__quote {
  padding-bottom: $space-xl;
  margin: 0;
  font-size: modular-scale(1);
  line-height: $line-height-heading;

  @include bp(small-medium) {
    font-size: modular-scale(2);
  }

  @include bp(medium) {
    padding-bottom: 0;
  }
}

