.article {
  @include grid-container;
}

// .article__title {}

.article__header {
  @include grid-column(7);

  @include grid-media($neat-grid-medium) {
    @include grid-column(6);
    @include grid-push(3);
  }

  @include grid-media($neat-grid-large) {
    @include grid-column(9);
    @include grid-push(4);
  }
}

.article__content {
  @include grid-column(7);

  @include grid-media($neat-grid-medium) {
    @include grid-column(11);
  }

  @include grid-media($neat-grid-large) {
    @include grid-column(16);
  }

  .article__header + & {
    margin-top: $space-l;

    @include bp(medium) {
      margin-top: inherit;
    }
  }
}

.article__content--column {
  @include grid-column(7);

  @include grid-media($neat-grid-medium) {
    @include grid-column(6);
    @include grid-push(3);
  }

  @include grid-media($neat-grid-large) {
    @include grid-column(9);
    @include grid-push(4);
  }
}

.article--full-width {
  .article__header,
  .article__content--column {
    @include grid-column(7);

    @include grid-media($neat-grid-medium) {
      @include grid-column(11);
    }

    @include grid-media($neat-grid-large) {
      @include grid-column(16);
    }
  }
}

.article--min-height {
  min-height: #{(100 * 2 / 3)}vh;
}

.overlay {
  .article,
  .article__inner {
    margin: 0;
    height: 100%;
  }

  .article__inner {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
  }

  .article__header,
  .article__content,
  .article__footer {
    margin: 0;
    padding: $space-s $space-m;
    width: 100%;
  }

  .article__header,
  .article__footer {
    flex: none;
  }

  .article__header {
    border-bottom: $border;
  }

  .article__content {
    overflow-y: auto;
    height: 100%;
  }

  .article__footer {
    align-self: flex-end;
    padding-top: 0;
    padding-bottom: $space-m;
    border-top: $border;
  }
}
