$height-button: $space-l;
$height-button-small: $space-m;

.button {
  display: inline-block;
  padding: 0 $space-m; // Reset padding on inputs like button, submit
  font-family: $font-family; // Set font-family on inputs like button, submit
  line-height: $height-button;
  color: color('text-light');
  text-align: center;
  text-shadow: none;
  white-space: nowrap;
  vertical-align: middle;
  background-color: transparent;
  border: $border-width-l $border-style;
  border-radius: 0; // Removes border-radius on Chrome input[type=button]
  box-shadow: none;
  font-feature-settings: $font-features, 'smcp', 'c2sc';

  @include bp(medium) {
    font-size: modular-scale(-1);
  }

  &:hover,
  &:focus,
  &:active {
    color: color('text');
    text-shadow: none;
    cursor: pointer;
    box-shadow: none;
  }

  &:active {
    position: relative;
    top: 2px;
  }
}

.button--primary {
  color: color('link');

  &:hover,
  &:focus,
  &:active {
    color: color('link-hover');
  }
}
