$height-button: $space-l;
$height-button-small: $space-m;

.big-button {
  display: block;
  padding: $space-s $space-m;
  margin: 0;
  font-size: modular-scale(3);
  font-weight: $font-weight-bold;
  line-height: $line-height-solid;
  color: color('link');
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  box-shadow: none;

  @include bp(medium) {
    font-size: modular-scale(4);
  }

  &:hover,
  &:focus,
  &:active {
    color: color('link-hover');
    text-shadow: none;
    cursor: pointer;
    box-shadow: none;
  }

  &:active {
    position: relative;
    top: 2px;
  }
}
