.reco {
  & + & {
    @include margin-top-2;
  }
}

.reco__content,
.reco__author-card {
  margin: 0;
}

.reco__content {
  position: relative;

  &::before {
    right: 100%;
    z-index: -1;
    opacity: $opacity-10;

    @include grid-media($neat-grid-medium) {
      position: absolute;
      margin-right: $space-s;
      font-size: modular-scale(6);
      line-height: 1;
      content: '“';
    }

    @include grid-media($neat-grid-large) {
      top: -1 * $space-m;
      font-size: modular-scale(8);
    }
  }
}

.reco__author-card {
  font-weight: $font-weight-bold;

  &::before {
    content: '—';
  }
}
