@font-face {
  font-family: et-book;
  font-style: normal;
  font-weight: normal;
  src:
  url('/fonts/etbookot-roman.woff2') format('woff2'),
  url('/fonts/etbookot-roman.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: et-book;
  font-style: normal;
  font-weight: bold;
  src:
  url('/fonts/etbookot-bold.woff2') format('woff2'),
  url('/fonts/etbookot-bold.woff') format('woff');
  font-display: swap;
}
