@mixin margin-top-1 {
  margin-top: $space-l;

  @include grid-media($neat-grid-medium) {
    margin-top: $space-xl;
  }
}

@mixin margin-top-2 {
  margin-top: $space-xl;

  @include grid-media($neat-grid-medium) {
    margin-top: $space-xxl;
  }
}
