<footer role="contentinfo" class="footer">
	<div class="footer__content">
		<a class="link link--minor" href="{{ site.facebookUrl }}" rel="external">Facebook</a>,
		<a class="link link--minor" href="{{ site.twitterUrl}}" rel="external">Twitter</a>
	</div>
	<div class="footer__legal">&copy; {{ site.date.getFullYear() }} Alaris Prime</div>
</footer>
