<nav class="main-nav">
	<ul class="main-nav__list">
		<li class="main-nav__i main-nav__i--logo"><a class="main-nav__link" href="/" title="{{site.title}} Front Page"><span class="logo" aria-hidden="true">{% include "../images/logo-gradient.svg" %}</span></a></li>
		<li class="main-nav__i"><a class="main-nav__link {{ 'active' if path == 'work.html.njk' }}" href="/work/">Work</a></li>
		<li class="main-nav__i"><a class="main-nav__link {{ 'active' if path == 'contact.html.njk' }}" href="/contact/">Contact</a></li>
		<li class="main-nav__i"><a class="main-nav__link" href="{{ site.blogUrl }}" target="_tab">Blog</a></li>
	</ul>
</nav>
