{% from "../macros/divider.njk" import divider %}
{{ divider() }}
<article class="article">
	<div class="article__inner">
		<div class="article__content">
			<p class="font-family-alt light mini text-align-center">Let’s build something amazing together.</p>
			<a class="big-button js-overlay-open" href="javascript:;">Get in touch.</a>
			<p class="mt0 font-family-alt light micro text-align-center">Or, <a class="js-overlay-open" data-subject="Let’s meet for a coffee" href="javascript:;">chat over a ☕️</a>.</p>
		</div>
	</div>
</article>
