{% macro contactTriggerTag(text, isButton=false, subject='Work with Alaris Prime', message, additionalClasses, extraFieldGroup, JSON) %}{% set classNames = 'link link--minor' %}{% if isButton %}{% set classNames = 'button button--primary' %}{% endif %}<a class="{{ classNames }} {{ additionalClasses }} js-overlay-open" href="javascript:;" data-subject="{{ subject }}"{% if message %} data-message="{{message}}"{% endif %} {% if extraFieldGroup %} data-extra-field-group='{{ extraFieldGroup }}'{% endif %}>{{ text}}</a>{% endmacro %}
