{% macro projectSnippet(metaData, console) %}
<section class="section">
	<div class="section__header">
		<h2>
			{% if metaData.projectUrl %}
			<a href="{{metaData.projectUrl}}">{{metaData.title}}</a>
			{% else %}
			{{metaData.title}}
			{% endif %}
			{% if metaData.company %}
			<span class="section__sub-title">
				by{{''}}
				{% if metaData.companyUrl %}
				<a href="{{metaData.companyUrl}}">{{metaData.company}}</a>
				{% else %}
				{{metaData.company}}
				{% endif %}
			</span>
			{% elif metaData.agency %}
			<span class="section__sub-title">
				With{{''}}
				{% if metaData.agencyUrl %}
				<a href="{{metaData.agencyUrl}}">{{metaData.agency}}</a>
				{% else %}
				{{metaData.agency}}
				{% endif %}
			</span>
			{% endif %}
		</h2>
	</div>
	<div class="section__content">
		{{metaData.contents | safe}}
	</div>
</section>
{% endmacro %}
