{% macro testimonial(contents, name, title, company) %}
<section class="testimonial">
	<blockquote>
		{{ contents | safe }}
		<cite>
			{{- name -}}
			{%- if title%}, {{ title | safe }}{% endif -%}
			{%- if company%}, {{ company | safe }}{% endif %}
		</cite>
	</blockquote>
</section>
{% endmacro %}
