---
title: Contact
---

{% extends "./layouts/base.njk" %}

{% block content %}
<article class="article">
	<h1 class="article__title">Contact</h1>
	<div class="article__content article__content--column">
		<p>Are you building a product, rethinking your service, or need a design revamp? Talk to <a class="link link--minor" href="mailto:{{site.contactEmail}}">Brajeshwar and Saneef</a>.</p>
	</div>
</article>
{% endblock %}
