---
title: Giving Back
---

{% extends "./layouts/base.njk" %}

{% block content %}
<article class="article">
  <h1 class="article__title">Giving Back</h1>
  <div class="article__content article__content--column">
    <p>​​We do commercial design and front-end engineering at Alaris Prime. We want to give it back to the community by helping Startups, with their design needs.</p>
    <br>
    <p>​​Get a <strong>free consultation</strong> on Interface Design, Experience Design, and Product Design.</p>
    <br>
    <p>Currently, accepting Bangalore Startups with less than $1M in funding.</p>
  </div>
  <div class="article__content article__content--column">
    <p>→ <a class="link link--minor" href="https://goo.gl/forms/goPHxgWjbPq1gxLR2">Contact us</a></p>
  </div>
  <p class="minor">Terms and Conditions - we reserve all rights to work with our choice of Startups.</p>
</article>
{% endblock %}
