---
description: We design and build products for beauty and performance.
---

{% extends "./layouts/base.njk" %}
{% from "./macros/testimonials.njk" import testimonials %}

{% block content %}
<section class="hero">
	<blockquote class="hero__quote">
		<p data-hyphenate="false">{{description}}</p>
	</blockquote>
	<p>We have helped
		<a href="http://storyweaver.org.in/">Pratham Books</a>,
		<a href="http://www.adya.io/">Adya</a>,
		<a href="https://www.zoho.com/">Zoho</a>,
		<a href="http://adityabirla.com/">Aditya Birla</a>,
		and
		<a href="/work">others</a>.
	</p>
</section>
<hr>
{{ testimonials(collections.testimonials) }}
{% endblock %}
