---
description: We design and build products for beauty and performance.
---

{% extends "./layouts/base.njk" %}
{% from "./macros/testimonials.njk" import testimonials %}

{% block content %}
<section class="hero">
	<blockquote class="hero__quote">
		<p data-hyphenate="false">{{description}}</p>
	</blockquote>
	<p>We have helped
		<a href="//storyweaver.org.in/">Pratham Books</a>,
		<a href="//www.adya.io/">Adya</a>,
		<a href="//www.zoho.com/">Zoho</a>,
		<a href="//adityabirla.com/">Aditya Birla</a>,
		and{{" "}}<a href="/work">others</a>.
	</p>
</section>

<hr>

<article class="article">
	<div class="article__content article__content--column">
		<p>
			<strong>A highly optimized user experience is good for your business.</strong>
			We have helped businesses achieve the last mile optimization with their front-end design experiences. Our clients are happy that their web apps are faster loading, easier to use than their competitors.
		</p>
		<p>
			We don't have a silver bullet but we know enough to give our clients the best of web-app and website optimizations that far exceeds their expectations. We do this iteratively and by learning the needs of our clients and their users.
		</p>
		<p>
			Are you looking to get a super-optimized user experience for your users, squeezed the best out of your front-end technology? We have the know-how, experience, and have done it a few times.
		</p>
	</div>
</article>

<hr>

{{ testimonials(collections.testimonials) }}
{% endblock %}
