---
title: Selected Work
---

{% extends "./layouts/base.njk" %}

{% from "./macros/project-snippet.njk" import projectSnippet %}

{% block content %}
<article class="article">
	<h1 class="article__title">{{title}}</h1>
	<div class="article__content">
		<div class="recent-projects">
			{% for project in collections.projects %}
				{{projectSnippet(project, console)}}
			{% endfor %}
		</div>
	</div>
</article>
{% endblock %}
