---
title: Workshops
---

{% extends "./layouts/base.njk" %}

{% block content %}
<article class="article">
	<div class="article__header">
		<h2 class="article__title">{{title}}</h2>
	</div>
	<div class="article__content">
		<div class="media-object media-object--space-out">
			<div class="media-object__figure">
				<h4>Good Enough Design for Responsive Web Apps</h4>
				<dl>
					<dt>Duration</dt>
					<dd>4 days</dd>
					<dt>Participants</dt>
					<dd>3-8 people</dd>
					<dt>Pricing</dt>
					<dd>$4,000<br>(₹ 2,50,000)</dd>
				</dl>
			</div>
			<div class="media-object__content">
				<p>Designing and developing responsive web is still a mystery for many teams. Through this workshop, you will learn to create a “Good Enough Design” system. The workshop includes exercises on conceptualizing a product idea, creating user flows, designing modular interfaces, to building a custom living style guide that works across devices – phones, tablets, desktops or TVs.</p>
				<p>Through smart choices we can speed up the design phase. Through a living style guide we can speed up the development. The style guide also helps to maintain and scale your web app without breaking your team’s brains.</p>
				<p>All this will help you to spend the energy – wasted on fights between your development and design teams – on making a better product.</p>
			</div>
		</div>
	</div>
</article>
{% endblock %}
